.jumbotron {
  background-color: #fcfc2d;
  color: black;
  text-align: center;
  margin-top: 50px;
  margin: 15px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fcfc2d;
  margin-bottom: 0px;
  align-content: center; }

.carousel {
  margin-top: 30px;
  margin: 30px; }

.banner img {
  display: block;
  margin: auto;
  align-content: center; }

.card-header {
  background-color: #f00014; }

.card-hotel {
  flex-direction: row;
  justify-content: space-between;
  flex: 1 200px;
  padding: 5px 0px 2px 0px;
  margin-top: 10px;
  margin: 15px;
  text-align: center; }

.contacto {
  margin-top: 10px;
  margin: 20px; }

.btn-reserva {
  width: 100%;
  background-color: #67e84d;
  color: black; }

.img-card img {
  width: 70px;
  height: 35px; }

.card-hotel.btn-reserva {
  justify-content: center; }

.tab-content {
  text-align: center;
  margin-top: 20px;
  margin: 5px; }

.preguntas button {
  margin-top: 5px;
  margin: 25px; }
