$yellow: #fcfc2d;
$rojo: #f00014;
$green: #67e84d;


@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin: $bottom;
}



.jumbotron{
    background-color: $yellow;
    color: black;
    text-align: center;
    @include margenes(50px, 15px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    margin-bottom: 0px;
    align-content: center;
}
.carousel {
    @include margenes(30px, 30px);
}
.banner img{
    display: block;
    margin: auto;
    align-content: center;
}
.card-header{
    background-color: $rojo;
}


.card-hotel {    
    flex-direction: row;
    justify-content: space-between;
    flex: 1 200px;
    padding: 5px 0px 2px 0px;
    @include margenes(10px, 15px);
    text-align: center;
    

}
.contacto{
    @include margenes(10px, 20px);
}
.btn-reserva{
    
    width: 100%;
    background-color: $green;
    color: black;

}

.img-card img{
    width: 70px; height: 35px;
}
.card-hotel.btn-reserva{
    justify-content: center;
}

.tab-content{
    text-align: center;
    @include margenes(20px, 5px);
}
.preguntas button{
    @include margenes(5px, 25px);

}
